:root {
  --main-bg-color: #d9d9d9;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--main-bg-color);
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.centered-text {
  text-align: center;
}
.wrapper {
  width: 95%;
  margin: 0 auto;
}
/*Navigation & Interaction*/
.header {
  padding-top: 10px;
  margin-bottom: 10px;
  background-color: #777;
  color: white;
  border-bottom: 1px solid #cfcfcf;
}
.header h1 {
  margin: 0;
  font-family: 'Righteous', cursive;
}
.header h3 {
  margin: 0; 
}
.menu-icon {
  display: flex;
  justify-content: center;
}
.user {
  border: 2px solid #333;
  border-radius: 16px;
  font-weight: bold;
  padding: 5px 10px;
  color: #333;
  background-color: #ccc
}
.user:hover {
  cursor: pointer;
}
.user:active {
  color: white;
  background-color: grey;
}
.nav a {
  position: relative;
  display: inline-block;
  margin: 0 2px;
  padding: 10px 4px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  background-color: #bfbfbf;
  border: 1px solid #aaa;
  border-bottom: 2px solid #bfbfbf;
  text-decoration: none;
}
.nav .selected {
  top: 3px;
  background-color: var(--main-bg-color);
  border-color: var(--main-bg-color);
}
/* FlashCards */
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px 1px grey;
  border-radius: 4px;
  margin: 10px auto 5px;
  font: 18px sans-serif;
  width: 280px;
}
.card:hover {
  box-shadow: 0px 0px 3px 3px #aaaacc;
}
.card-top{
  padding: 5px 0px;
  background-color: #cfcfcf;
  display: flex;
  justify-content: flex-end;
}
.card-edit-element button {
  font-size: 20px;
  padding: 0 10px;
}
.card-edit-element button:last-child {
  color: red;
  font-weight: bold;
  margin-right: 10px;
}
.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: white;
}
.card-content p {
  transition: color 0.25s;
}
.card-flip-button {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}
/*Deck Selector*/
.deck-selector-main {
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0px 2px 2px 0px grey;
  background-color: white;
  width: 280px;
}
.deck-selector-main:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px 3px #aaaacc;
  /*animation: wiggle 1s ease;
  animation-iteration-count: 1;*/
}
/*@keyframes wiggle {
  20%  { transform: translateX(4px);  }
  40%  { transform: translateX(-4px); }
  60%  { transform: translateX(2px);  }
  80%  { transform: translateX(-1px); }
  100% { transform: translateX(0);    }
}*/
.deck-selector-main p {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}
.deck-selector-main p:last-child {
  font-weight: bold;
}
/*New Deck*/
.new-deck-input {
  width: 250px;
  height: 25px;
  padding: 5px;
  font-size: 20px;
}
.new-deck-button {
  display: block;
  margin: 10px auto;
  font-size: 18px;
  width: 265px;
  height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}
.curtain {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y:scroll;
  width: 100%;
  height: 100%;
  background: rgba(100, 100, 100, 0.8);
}
.overlay {
  background-color: white;
  margin-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  border: 4px solid #aaaacc;
  width: 280px;
}
.overlay h2 {
  padding-top: 10px;
}
.decklist {
  list-style: none;
  padding: 0;
}
.decklist li {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px;
  max-width: 70%;
  margin: 5px auto;
}
.decklist li:hover {
  background-color: #cacaca;
  cursor: pointer;
}
.deck-editor h3 {
  margin: 10px 0 5px 0;
}
.deck-editor input {
  padding: 5px;
}
.edit-deck-button {
  padding: 5px;
}
.add-card-button {
  display: block;
  margin: 10px auto;
  padding: 5px 80px;
  border-radius: 20px;
  background-color: white;
  border: 2px solid grey;
  box-shadow: 1px 2px #555;
  font-size: 20px;
}
.add-card-button:focus {
  background-color: #aaaacc;
  outline: none;
}
.card-creator input {
  padding: 5px 0;
  margin-bottom: 5px;
  width: 240px;
}
.card-creator p {
  margin: 5px 0;
}
.card-creator textarea {
  margin: 0;
  width: 240px;
}
.card-creator-buttons-area {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.card-creator-buttons-area button {
  padding: 10px 20px;
}
.delete-deck-button {
  background-color: red;
  color: white;
  padding: 5px;
}
.delete-deck-button:focus {
  outline: none;
}
.dialogue-overlay {
  display: flex;
  align-items: center;
}
.dialogue-buttons button {
  padding: 10px 30px;
}
.export-header {
  margin-top: 20px;
}
#export-button {
  display: inline-block;
  margin: 0 0 10px 0;
}
#export-button button {
  padding: 5px 15px;
}
.warning {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  color: red;
}
.warning ~ button {
  padding: 5px 15px;
}
#jsonFile input{
  padding: 5px 15px;
}
@media (min-width: 400px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    width: 400px;
  }
}